body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

/* HEADER */
.top-header {
    background: #ff9900;
    padding: 15px;
    color: white;
    text-align: center;
}

.top-header input {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
}

/* CATEGORY SECTION */
.category-section {
    padding: 10px;
    background: white;
    margin: 10px;
    border-radius: 10px;
}

.category-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.category-box {
    text-align: center;
    padding: 10px;
    background: #fff7e6;
    border-radius: 8px;
    cursor: pointer;
}

.category-box img {
    width: 40px;
    height: 40px;
}

/* PRODUCT GRID */
.product-section {
    padding: 10px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.product-card {
    background: white;
    padding: 10px;
    border-radius: 10px;
}

.product-card img {
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-radius: 8px;
}

/* BOTTOM NAV */
.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #ccc;
}

.bottom-nav a {
    text-align: center;
    color: black;
    text-decoration: none;
}

.bottom-nav a.active {
    color: #ff9900;
}
