body {
  margin: 0;
  background: #f4f4f4;
  font-family: Arial;
}

.header {
  background: #0474c4;
  color: white;
  padding: 15px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.sub-container {
  padding: 15px;
  display: grid;
  gap: 10px;
}

.sub-card {
  background: white;
  padding: 15px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 600;
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
}
